* {
    margin: 0;
    padding: 0;    
}

body {
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Main */
#main {
    font-size: large;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
}

/* header */
#header {
    font-family: 'Cinzel', serif;
    font-size: x-large; 
    color: white;
    margin-top: 3vh;
}

.incr {
    font-size: 1.25em;
}

img {
    max-width: 300px;
    margin-top: 3vh;
}

/* search */
input, button  {
    margin-top: 3vh;
    padding: 0.2vw;
    border-radius: 2px;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
}

input:hover, button:hover {
    border-radius: 5px;
    background: lightgray;
}

/* results */
#results {
    color: white;
    display: inline-block;
    list-style-type: none;
}
#results h1 {
    font-family: 'Cinzel', serif;
}

#results > * {
    text-align: left;
}

#searchArticles, #randomArticles {
    color: black;
    border: 5px solid white;
    background: darkgray;
    border-radius: 5px;
    max-width: 90vw;
    display: block;
    margin: 5vh auto;
    padding: 1.5vw;
    transition: all ease 0.1s;
}

#searchArticles:hover, #randomArticles:hover {
    background: darkorchid;
    /* border: 5px solid white; */
    border-radius: 8px;
    transform: scale(1.005);
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* footer */
#footer {
    margin: 1vh;
    text-align: center;
    font-size: medium;
    color: white;
}