/* Main */
#main {
    font-size: 2em;
    text-align: center;

    display: flex;
    flex-flow: wrap;
}
#main > * {
    flex: 1 1 100%;
}

/* Search */
input {
    max-width: 60vw;
    font-size: 1em;
}
button {
    font-size: 1em;
}

/* Results */
#results {
    text-align: center;
    font-size: 2em;
}